
<div>
    <p></p>
</div>

<body class="grid-container">
    <nav class="navbar">
      <app-navbar></app-navbar>
    </nav>

    <article class="main">

        <div class="card text-white bg-success mb-3" style="max-width: 10rem;">
            <div class="card-header">Ritmo cardiaco</div>
            <div class="card-body">
              <p class="card-text">{{userRitmo}} lpm</p>
            </div>
        </div>

        <div class="card text-white bg-success mb-3" style="max-width: 10rem;">
            <div class="card-header">Frecuencia respiratoria</div>
            <div class="card-body">
              <p class="card-text">{{userPeso}} rpm </p>
            </div>
        </div>

        <div class="card text-white bg-success mb-3" style="max-width: 10rem;">
            <div class="card-header">Peso</div>
            <div class="card-body">
              <p class="card-text">{{userPeso}} kg </p>
            </div>
        </div>


        <div class="card text-white bg-success mb-3" style="max-width: 10rem;">
            <div class="card-header">Altura</div>
            <div class="card-body">
              <p class="card-text">{{userAltura}} m </p>
            </div>
        </div>

        <div class="card text-white bg-success mb-3" style="max-width: 10rem;">
            <div class="card-header">BMI</div>
            <div class="card-body">
              <p class="card-text">{{userBMI}}</p>
            </div>
        </div>

        <div class="card text-white bg-success mb-3" style="max-width: 10rem;">
            <div class="card-header">Saturacion de Oxígeno</div>
            <div class="card-body">
              <p class="card-text">{{userSaturacion}} % </p>
            </div>
        </div>

        <div class="card text-white bg-success mb-3" style="max-width: 10rem;">
            <div class="card-header">Temperatura</div>
            <div class="card-body">
              <p class="card-text">{{userTemperatura}} º </p>
            </div>
        </div>

        <div class="card text-white bg-success mb-3" style="max-width: 10rem;">
            <div class="card-header">Presión sanguínea</div>
            <div class="card-body">
              <p class="card-text">{{userPeso}} mmHg </p>
            </div>
        </div>
        
    </article>
  </body>

