<body class="grid-container">
    <nav class="navbar">
      <app-navbar></app-navbar>
    </nav>

    <article class="main">

      <div class="container">
        <h4>Datos de la consulta más reciente</h4>
        <div class="row">
          <div class="col">
            <div class="card text-white bg-success mb-3">
              <div class="card-header text-center">
                Ritmo cardiaco
              </div>
              <div class="card-body text-center">
                {{userRitmo}} lpm
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card text-white bg-success mb-3">
              <div class="card-header text-center">
                Frec resp
              </div>
              <div class="card-body text-center">
                {{userFrecuencia}} rpm
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card text-white bg-success mb-3">
              <div class="card-header text-center">
                Peso
              </div>
              <div class="card-body text-center">
                {{userPeso}} kg
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card text-white bg-success mb-3">
              <div class="card-header text-center">
                Altura
              </div>
              <div class="card-body text-center">
                {{userAltura}} m
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card text-white bg-success mb-3">
              <div class="card-header text-center">
                BMI
              </div>
              <div class="card-body text-center">
                {{userBMI}}
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card text-white bg-success mb-3">
              <div class="card-header text-center">
                Saturación O2
              </div>
              <div class="card-body text-center">
                {{userSaturacion}} %
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card text-white bg-success mb-3">
              <div class="card-header text-center">
                Temperatura
              </div>
              <div class="card-body text-center">
                {{userTemperatura}} º
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card text-white bg-success mb-3">
              <div class="card-header text-center">
                Presión san
              </div>
              <div class="card-body text-center">
                {{userPresion}} mmHg
              </div>
            </div>
          </div>
        </div>
      </div>

      <app-tabla-historial></app-tabla-historial>
      <app-bar-chart></app-bar-chart>
    </article>
  </body>

